@model IEnumerable<TpFreelancer.Models.CustomersModel>

@{
    ViewData["Title"] = "Index";
    ViewBag.Css = "../css/Customer.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Gestions des clients</h1>
    <p>
        Dernier client ajouté/modifié :
        @if (@ViewBag.lastCustomer != null)
        {
            @ViewBag.lastCustomer.CustomerName
        }
    </p>
    <p><a asp-action="Create"><i class="fa fa-plus"></i> Ajouter un nouveau client</a></p>
    <h2>Clients enregistrés</h2>
</div>  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td class="actions">
                <p>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId"><i class="fa fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerId"><i class="fa fa-times"></i></a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
